.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas:
    "Customer-Name company Phone-Number Email country status";
  grid-area: filter;
}

.Customer-Name {
  grid-area: Customer-Name;
  border: 1px solid black;
}

.company {
  grid-area: company;
  border: 1px solid black;
}


.Phone-Number {
  grid-area: Phone-Number;
  border: 1px solid black;
}

.Email {
  grid-area: Email;
  border: 1px solid black;
}

.country {
  grid-area: country;
  border: 1px solid black;
}

.status {
  grid-area: status;
  border: 1px solid black;
}