.group-people1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas:
    "Jane-Cooper Microsoft phoneNumber1 mail1 United-States status1";
  grid-area: group-people1;
}
.Jane-Cooper {
  grid-area: Jane-Cooper;

}
.Microsoft {
  grid-area: Microsoft;
}
.phoneNumber1 {
  grid-area: phoneNumber1;
}
.mail1 {
  grid-area: mail1;
}
.United-States {
  grid-area: United-States;
}
.status1 {
  grid-area: status1;
}