.group-people4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas:
    "Marvin-McKinney Tesla phoneNumber4 mail4 Iran status4";
  grid-area: group-people4;
}

.Marvin-McKinney {
  grid-area: Marvin-McKinney;
}

.Tesla {
  grid-area: Tesla;
}
.phoneNumber4 {
  grid-area: phoneNumber4;
}
.mail4 {
  grid-area: mail4;
}
.Iran {
  grid-area: Iran;
}
.status4 {
  grid-area: status4;
}