.group-people8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas:
    "Kristin-Watson Facebook phoneNumber8 mail8 Åland-Islands status8";
  grid-area: group-people8;
}

.Kristin-Watson {
  grid-area: Kristin-Watson;
}

.Facebook {
  grid-area: Facebook;
}
.phoneNumber8 {
  grid-area: phoneNumber8;
}
.mail8 {
  grid-area: mail8;
}
.Åland-Islands {
  grid-area: Åland-Islands;
}
.status7 {
  grid-area: status8;
}