.table__list-8,
.table__list-7,
.table__list-6,
.table__list-5,
.table__list-4,
.table__list-3,
.table__list-2,
.table__list-1 {
  margin-right: 40px;
  margin-left: 38px;

  border-bottom: 1px solid #eeeeee;
}

.table__filter {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  margin-top: 22px;
  padding-right: 40px;
  padding-left: 38px;

  border-bottom: 1px solid #eeeeee;

  grid-area: table__filter;
  grid-template-areas: "names companies numbers emails countries statuses";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 1fr;
}
.table__filter--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  color: #b5b7c0;

  font-size: 14px;
  font-weight: 500;
}

.names {
  grid-area: names;
}

.companies {
  grid-area: companies;
}

.numbers {
  grid-area: numbers;
}

.emails {
  grid-area: emails;
}

.countries {
  grid-area: countries;
}

.statuses {
  padding-left: 12px;

  grid-area: statuses;
}

.table__list-1 {
  display: grid;

  grid-area: table__list-1;
  grid-template-areas: "name-1 company-1 number-1 email-1 country-1 status-1";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 1fr;
}

.name-1 {
  grid-area: name-1;
}

.company-1 {
  grid-area: company-1;
}

.number-1 {
  grid-area: number-1;
}

.email-1 {
  grid-area: email-1;
}

.country-1 {
  grid-area: country-1;
}

.status-1 {
  grid-area: status-1;
}

.table__list-2 {
  display: grid;

  margin-top: 2px;

  grid-area: table__list-2;
  grid-template-areas: "name-2 company-2 number-2 email-2 country-2 status-2";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 1fr;
}

.name-2 {
  grid-area: name-2;
}

.company-2 {
  grid-area: company-2;
}

.number-2 {
  grid-area: number-2;
}

.email-2 {
  grid-area: email-2;
}

.country-2 {
  grid-area: country-2;
}

.status-2 {
  grid-area: status-2;
}

.table__list-3 {
  display: grid;

  margin-top: 2px;

  grid-area: table__list-3;
  grid-template-areas: "name-3 company-3 number-3 email-3 country-3 status-3";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 1fr;
}

.name-3 {
  grid-area: name-3;
}

.company-3 {
  grid-area: company-3;
}

.number-3 {
  grid-area: number-3;
}

.email-3 {
  grid-area: email-3;
}

.country-3 {
  grid-area: country-3;
}

.status-3 {
  grid-area: status-3;
}

.table__list-4 {
  display: grid;

  margin-top: 2px;

  grid-area: table__list-4;
  grid-template-areas: "name-4 company-4 number-4 email-4 country-4 status-4";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 1fr;
}

.name-4 {
  grid-area: name-4;
}

.company-4 {
  grid-area: company-4;
}

.number-4 {
  grid-area: number-4;
}

.email-4 {
  grid-area: email-4;
}

.country-4 {
  grid-area: country-4;
}

.status-4 {
  grid-area: status-4;
}

.table__list-5 {
  display: grid;

  margin-top: 2px;

  grid-area: table__list-5;
  grid-template-areas: "name-5 company-5 number-5 email-5 country-5 status-5";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 1fr;
}

.name-5 {
  grid-area: name-5;
}

.company-5 {
  grid-area: company-5;
}

.number-5 {
  grid-area: number-5;
}

.email-5 {
  grid-area: email-5;
}

.country-5 {
  grid-area: country-5;
}

.status-5 {
  grid-area: status-5;
}

.table__list-6 {
  display: grid;

  margin-top: 2px;

  grid-area: table__list-6;
  grid-template-areas: "name-6 company-6 number-6 email-6 country-6 status-6";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 1fr;
}

.name-6 {
  grid-area: name-6;
}

.company-6 {
  grid-area: company-6;
}

.number-6 {
  grid-area: number-6;
}

.email-6 {
  grid-area: email-6;
}

.country-6 {
  grid-area: country-6;
}

.status-6 {
  grid-area: status-6;
}

.table__list-7 {
  display: grid;

  margin-top: 2px;

  grid-area: table__list-7;
  grid-template-areas: "name-7 company-7 number-7 email-7 country-7 status-7";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 1fr;
}

.name-7 {
  grid-area: name-7;
}

.company-7 {
  grid-area: company-7;
}

.number-7 {
  grid-area: number-7;
}

.email-7 {
  grid-area: email-7;
}

.country-7 {
  grid-area: country-7;
}

.status-7 {
  grid-area: status-7;
}

.table__list-8 {
  display: grid;

  margin-top: 2px;

  grid-area: table__list-8;
  grid-template-areas: "name-8 company-8 number-8 email-8 country-8 status-8";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 1fr;
}

.name-8 {
  grid-area: name-8;
}

.company-8 {
  grid-area: company-8;
}

.number-8 {
  grid-area: number-8;
}

.email-8 {
  grid-area: email-8;
}

.country-8 {
  grid-area: country-8;
}

.status-8 {
  grid-area: status-8;
}

.right-container {
  display: grid;

  width: 100%;
  height: 100vh;
  padding-right: 50px;

  background-color: #f6f8ff;

  gap: 0;
  grid-area: right-container;
  grid-template-areas: "right-container__text" "table";
  grid-template-columns: 1fr;
  grid-template-rows: minmax(96px, 8%) 90%;
}
.right-container__title {
  margin-top: 47px;
  margin-left: 71px;

  font-size: 24px;
  font-weight: 500;

  grid-area: right-container__text;
}

.table {
  display: grid;

  max-width: 968px;
  max-height: 812px;
  margin-top: 33px;
  margin-left: 71px;

  border-radius: 30px;
  background-color: #ffffff;

  grid-area: table;
  grid-template-areas: "table__header table__header table__header table__header table__header table__header" "table__filter table__filter table__filter table__filter table__filter table__filter" "table__list-1 table__list-1 table__list-1 table__list-1 table__list-1 table__list-1" "table__list-2 table__list-2 table__list-2 table__list-2 table__list-2 table__list-2" "table__list-3 table__list-3 table__list-3 table__list-3 table__list-3 table__list-3" "table__list-4 table__list-4 table__list-4 table__list-4 table__list-4 table__list-4" "table__list-5 table__list-5 table__list-5 table__list-5 table__list-5 table__list-5" "table__list-6 table__list-6 table__list-6 table__list-6 table__list-6 table__list-6" "table__list-7 table__list-7 table__list-7 table__list-7 table__list-7 table__list-7" "table__list-8 table__list-8 table__list-8 table__list-8 table__list-8 table__list-8" "page-entries page-entries page-entries page-number page-number page-number";
  grid-template-columns: 19.4% 14.7% 17.6% 22.9% 16% 9.4%;
  grid-template-rows: 11.8% repeat(9, 8.5%) 11.7%;
}

.table__header {
  display: grid;

  grid-area: table__header;
  grid-auto-flow: row;
  grid-template-areas: "table__title table__title table__title table__header--search table__header--search table__header--search";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.table__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  margin-top: 36px;
  padding-left: 38px;

  grid-area: table__title;
}
.table__title--text-1 {
  letter-spacing: -0.2px;

  font-size: 22px;
  font-weight: 600;
}
.table__title--text-2 {
  padding-top: 15px;

  letter-spacing: -0.2px;

  color: #16c098;

  font-size: 14px;
  font-weight: 400;
}
.table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  letter-spacing: -0.15px;

  color: #292d32;

  font-size: 14px;
  font-weight: 500;
}
.table__search {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  margin-top: 36px;
  padding-right: 54px;

  grid-area: table__header--search;
}
.table__search--input {
  width: 216px;
  height: 38px;
  padding-bottom: 6px;
  padding-left: 41px;

  color: #b5b7c0;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f9fbff;

  font-size: 12px;
  font-weight: 400;
}
.table__search--image {
  position: absolute;
  top: 45%;
  right: 236px;

  width: 25px;
  height: 25px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.status-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 80px;
  height: 29px;

  letter-spacing: 1px;

  color: #008767;
  border: 2px solid #00b087;
  border-radius: 4px;
  background-color: rgba(22, 192, 152, 0.38);

  font-size: 12px;
  font-weight: 500;
}

.status-inactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 80px;
  height: 29px;

  letter-spacing: 1px;

  color: #df0404;
  border: 2px solid #df0404;
  border-radius: 4px;
  background-color: #ffc5c5;

  font-size: 12px;
  font-weight: 500;
}

.page-entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  margin-top: -10px;
  margin-left: 38px;

  grid-area: page-entries;
}
.page-entries__text {
  color: #b5b7c0;
}

.page-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  margin-right: 40px;

  grid-area: page-number;
}
.page-number__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: -10px;

  gap: 9px;
}
.page-number__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 26px;
  height: 24px;

  color: #404b52;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background-color: #f5f5f5;

  font-size: 12px;
}
.page-number__item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 26px;
  height: 26px;

  color: #ffffff;
  border: 1px solid #5932ea;
  border-radius: 5px;
  background-color: #5932ea;

  font-size: 12px;
}

.left-container {
  display: grid;

  background-color: #ffffff;

  gap: 0;
  grid-area: left-container;
  grid-template-areas: "logo" "menu" "massage-container";
  grid-template-columns: 100%;
  grid-template-rows: minmax(100px, 10%) minmax(400px, 50%) minmax(200px, 1fr);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  grid-area: menu;
}
.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  width: 100%;
  margin-top: 8px;
  margin-right: 27px;
  margin-left: 29px;

  gap: 18px;
}
.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  height: 46px;
  padding-right: 13px;
  padding-left: 11px;

  border-radius: 7px;

  gap: 10px;
}
.menu-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 14px;
}
.menu-item__arrow {
  margin-right: -2px;

  color: #9197b3;

  font-size: 17px;
  font-weight: 500;
}
.menu-item__arrow.active {
  color: #ffffff;
}
.menu-item__link {
  text-decoration: none;
}
.menu-item__link.active {
  color: #ffffff;
}
.menu-item.active {
  padding-right: 13px;
  padding-left: 11px;

  border-radius: 8px;
  background-color: #5932ea;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;

  margin-bottom: 76px;
  margin-left: 29px;

  grid-area: massage-container;
}
.message-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: 12px;
}
.message-item__image {
  width: 42px;
  height: 42px;
}
.message-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  margin-top: 1px;

  gap: 7px;
}
.message-item__text {
  color: #000000;

  font-size: 14px;
  font-weight: 500;
}
.message-item__text--bottom {
  color: #757575;

  font-size: 12px;
  font-weight: 500;
}

.logo {
  grid-area: logo;
}
.logo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  margin-top: 25px;
  margin-left: 28px;
}
.logo__text {
  margin-top: 18px;
  margin-left: 8.4px;

  letter-spacing: 0.08px;

  font-family: "Poppins", sans-serif;
  font-size: 26px;
}
.logo__span {
  margin-top: 10px;
  margin-left: 4px;

  color: #838383;

  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.container {
  display: grid;

  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;

  gap: 0;
  grid-template-areas: "left-container right-container";
  grid-template-columns: 21.3% 78.7%;
  grid-template-rows: 1fr;
}

body {
  background-color: #f6f8ff;
}

@media (max-width: 1199.8px) {
  .right-container {
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .table {
    margin-left: 40px;
  }
  .table__search--input {
    width: 180px;
    height: 30px;
    padding-bottom: 3px;
  }
  .table__search--image {
    top: 50%;
    right: 190px;
  }
}

@media (max-width: 1199.8px) and (min-width: 992px) {
  .table__filter--item {
    font-size: 12px;
  }
  .right-container__title {
    font-size: 20px;
  }
  .table__title {
    margin-top: 20px;
  }
  .table__title--text-1 {
    font-size: 18px;
  }
  .table__title--text-2 {
    font-size: 12px;
  }
  .table__item {
    font-size: 12px;
  }
  .table__search {
    margin-top: 20px;
    padding-right: 40px;
  }
  .status-active {
    font-size: 12px;
  }
  .status-inactive {
    font-size: 12px;
  }
  .page-entries__text {
    font-size: 12px;
  }
}

@media (max-width: 991.8px) {
  .table__filter--item {
    font-size: 10px;
  }
  .right-container {
    padding-bottom: 80px;
  }
  .right-container__title {
    font-size: 16px;
  }
  .table {
    margin-top: 0;
  }
  .table__title {
    margin-top: 20px;
  }
  .table__title--text-1 {
    font-size: 14px;
  }
  .table__title--text-2 {
    font-size: 11px;
  }
  .table__item {
    font-size: 9px;
  }
  .table__search {
    margin-top: 20px;
    padding-right: 40px;
  }
  .status-active {
    width: 50px;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;

    border: 1px solid #00b087;

    font-size: 10px;
    font-weight: 300;
  }
  .status-inactive {
    width: 50px;
    height: 20px;

    border: 1px solid #df0404;

    font-size: 10px;
    font-weight: 300;
  }
  .page-entries__text {
    font-size: 10px;
  }
  .page-number__item {
    width: 20px;
    height: 20px;

    font-size: 9px;
  }
  .page-number__item-active {
    width: 20px;
    height: 20px;

    font-size: 9px;
  }
}

@media (max-width: 767.8px) {
  .table__filter--item {
    font-size: 8px;
  }
  .table__list-1 {
    grid-template-columns: 19.4% 12.7% 17.6% 25.9% 16% 9.4%;
  }
  .table__item {
    font-size: 8px;
  }
  .status-active {
    font-size: 8px;
  }
  .status-inactive {
    font-size: 8px;
  }
}
