$font-family: "Poppins", sans-serif;
$font-size: 14px;

$container-primary: 1440px;
$container-sm: 306px;
$gap: 20px;
$gap-sm: 10px;
$gap-lg: 40px;

$table: 968px;

$ul: 1440px;
$xl: 1200px;
$lg: 992px;
$gg: 875px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;
$rr: 375px;

$grid-columns: minmax(172px, auto) minmax(131px, auto) minmax(156px, auto) minmax(207px, auto) minmax(140px, auto) minmax(162px, auto);

$grid-columns-ul: 19.4% 14.7% 17.6% 22.9% 16% 9.4% ;
$grid-rows-ul: 11.8% repeat(9, 8.5%) 11.7%;









