@use "../presets" as *;
@use "../mixins" as *;
@use "filter";
@use "groups";

.right-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(96px, 8%) 90%;
  gap: 0;
  grid-template-areas:
    "right-container__text"
    "table";
  grid-area: right-container;
  background-color: $color-bg-container;
  width: 100%;
  height: 100vh;
  padding-right: 50px;

  @include xl {
    padding-right: 40px;
    padding-bottom: 40px;
  }

  @include lg {
    padding-bottom: 80px;
  }

  &__title {
    grid-area: right-container__text;
    font-size: 24px;
    font-weight: 500;
    margin-top: 47px;
    margin-left: 71px;

    @include xl-lg {
      font-size: 20px;
    }

    @include lg {
      font-size: 16px;
    }
  }
}

.table {
  display: grid;
  grid-template-columns: $grid-columns-ul;

  grid-template-rows: $grid-rows-ul;
  grid-template-areas:
    "table__header table__header table__header table__header table__header table__header"
    "table__filter table__filter table__filter table__filter table__filter table__filter"
    "table__list-1 table__list-1 table__list-1 table__list-1 table__list-1 table__list-1"
    "table__list-2 table__list-2 table__list-2 table__list-2 table__list-2 table__list-2"
    "table__list-3 table__list-3 table__list-3 table__list-3 table__list-3 table__list-3"
    "table__list-4 table__list-4 table__list-4 table__list-4 table__list-4 table__list-4"
    "table__list-5 table__list-5 table__list-5 table__list-5 table__list-5 table__list-5"
    "table__list-6 table__list-6 table__list-6 table__list-6 table__list-6 table__list-6"
    "table__list-7 table__list-7 table__list-7 table__list-7 table__list-7 table__list-7"
    "table__list-8 table__list-8 table__list-8 table__list-8 table__list-8 table__list-8"
    "page-entries page-entries page-entries page-number page-number page-number";
  grid-area: table;
  border-radius: 30px;
  max-height: 812px;
  max-width: 968px;
  background-color: $color-white;
  margin-top: 33px;
  margin-left: 71px;

  @include xl {
    margin-left: 40px
  }

  @include lg {
    margin-top: 0;
    //max-height: 420px;
  }
}

.table {

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
    "table__title table__title table__title table__header--search table__header--search table__header--search";
    grid-area: table__header;
  }

  &__title {
    grid-area: table__title;
    display: flex;
    flex-direction: column;
    padding-left: 38px;
    margin-top: 36px;

    @include xl-lg {
      margin-top: 20px;
    }

    @include lg {
      margin-top: 20px;
    }

    &--text-1 {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: -0.2px;

      @include xl-lg {
        font-size: 18px;
      }

      @include lg {
        font-size: 14px;
      }
    }


    &--text-2 {
      font-size: 14px;
      font-weight: 400;
      padding-top: 15px;
      color: #16C098;
      letter-spacing: -0.2px;

      @include xl-lg {
        font-size: 12px;
      }

      @include lg {
        font-size: 11px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $color-text-item;
    font-weight: 500;
    letter-spacing: -0.15px;

    @include xl-lg {
      font-size: 12px;
    }
    @include lg {
      font-size: 9px;
    }

    @include md {
      font-size: 8px;
    }
  }

  &__search {
    display: flex;
    grid-area: table__header--search;
    justify-content: flex-end;
    align-items: center;
    padding-right: 54px;
    position: relative;
    margin-top: 36px;

    @include xl {


    }

    @include xl-lg {
      margin-top: 20px;
      padding-right: 40px;
    }

    @include lg {
      margin-top: 20px;
      padding-right: 40px;
    }

    &--input {
      border: none;
      outline: none;
      width: 216px;
      height: 38px;
      padding-left: 41px;
      padding-bottom: 6px;
      font-size: 12px;
      font-weight: 400;
      color: #B5B7C0;
      background-color: #F9FBFF;
      border-radius: 5px;

      @include xl {
        width: 180px;
        height: 30px;
        padding-bottom: 3px;
      }
    }
      &--image {
        position: absolute;
        transform: translateY(-50%);
        top: 45%;
        right: 236px;
        height: 25px;
        width: 25px;

        @include xl {
          top: 50%;
          right: 190px;

        }
      }
    }
  }


.status-active {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #00B087;
  border-radius: 4px;
  background-color: rgba(22, 192, 152, 0.38);
  color: #008767;
  font-size: 12px;
  font-weight: 500;
  width: 80px;
  height: 29px;
  letter-spacing: 1px;

  @include xl-lg {
    font-size: 12px;
  }

  @include lg {
    font-size: 10px;
    font-weight: 300;
    border: 1px solid #00B087;
    width: 50px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  @include md {
    font-size: 8px;
  }
}

.status-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #DF0404;
  border-radius: 4px;
  background-color: #FFC5C5;
  color: #DF0404;
  font-size: 12px;
  font-weight: 500;
  width: 80px;
  height: 29px;
  letter-spacing: 1px;

  @include xl-lg {
    font-size: 12px;
  }

  @include lg {
    font-size: 10px;
    font-weight: 300;
    border: 1px solid #DF0404;
    width: 50px;
    height: 20px;
  }
  @include md {
    font-size: 8px;
  }

}

.page-entries {
  grid-area: page-entries;
  display: flex;
  align-items: center;
  margin-left: 38px;
  margin-top: -10px;

  &__text {
    color: $color-text-filter;

    @include xl-lg {
      font-size: 12px;
    }

    @include lg {
      font-size: 10px;
    }

  }
}

.page-number {
  grid-area: page-number;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;

  &__list {
    display: flex;
    gap: 9px;
    margin-top: -10px;


  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: #404B52;
    font-size: 12px;
    width: 26px;
    height: 24px;

    @include lg {
      width: 20px;
      height: 20px;
      font-size: 9px;
    }

    &-active {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #5932EA;
      border-radius: 5px;
      background-color: #5932EA;
      color: $color-white;
      font-size: 12px;
      width: 26px;
      height: 26px;

      @include lg {
        width: 20px;
        height: 20px;
        font-size: 9px;
      }
    }
  }
}










