@use "../presets" as *;
@use "../mixins" as *;

.logo {
  grid-area: logo;

  &__items {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 28px;
  }

  &__image {

  }

  &__text {
    font-family: $font-family;
    margin-left: 8.4px;
    margin-top: 18px;
    font-size: 26px;
    letter-spacing: 0.08px;
  }

  &__span {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 4px;
    color: #838383;
  }
}

