@use "../presets" as *;
@use "../mixins" as *;

.menu {
  grid-area: menu;
  display: flex;
  justify-content: center;


  &-container {
    //max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    width: 100%;
    margin-top: 8px;
    margin-right: 27px;
    margin-left: 29px;
  }

  &-item {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    padding-right: 13px;
    padding-left: 11px;
    border-radius: 7px;


    &__content {
      display: flex;
      align-items: center;
      gap: 14px;
    }

    &__arrow {
      color: #9197B3;
      margin-right: -2px;
      font-size: 17px;
      font-weight: 500;

      &.active {
        color: $color-white;
      }
    }


    &__link {
      text-decoration: none;

      &.active {
        color: $color-white;
      }
    }

    &.active {
      background-color: #5932EA;

      padding-left: 11px;
      padding-right: 13px;
      border-radius: 8px;
    }
  }
}



