@use "../presets" as *;
@use "../mixins" as *;

.message {
  grid-area: massage-container;
  margin-left: 29px;
  margin-bottom: 76px;
  display: flex;
  align-items: flex-end;

  &.active {
    margin-bottom: 30px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 12px;

    &.active {
      gap: 10px;
    }

    @include lg {
      margin-left: -15px;
    }

    &__image {
      width: 42px;
      height: 42px;

      &.active {
        width: 35px;
        height: 35px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-top: 1px;
    }

    &__text {
      font-size: 14px;
      font-weight: 500;
      color: $color-black;

      &.active {
        font-size: 10px;
      }

      @include lg {
        font-size: 12px;
        font-weight: 400;
      }

      &--bottom {
        font-size: 12px;
        font-weight: 500;
        color: #757575;

        &.active {
          font-size: 8px;
        }

        @include lg {
          font-size: 10px;
          font-weight: 400;
        }
      }
    }
  }
}
